# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

locale: "nl"
title: "Brief en Leed"
name: "Brief en Leed"
description: "Echte brieven aan echte mensen"
baseurl: "/briefenleed"

author:
  name: "Over Brief en leed"
  bio: "Jan Ouwens en Ralf Pisters verbeteren elk weekeinde de wereld met hun brieven. Hier leest u het resultaat: soms ontroerend, vaak grappig, altijd relevant.<br><br>De brieven zijn echt verstuurd."
  facebook: Brief-en-leed-140672505967026

defaults:
  - scope:
      path: ""
    values:
      header:
        image: images/banner.jpg
      layout: single
      author_profile: true
      sidebar:
        nav: "side"
      read_time: false
      share: false
      related: false
  - scope:
      type: posts
    values:
      permalink: /:year/:month/:title
      comments: true
  - scope:
      type: pages
    values:
      comments: false

comments:
  provider: custom

# Build settings
remote_theme: mmistakes/minimal-mistakes@4.20.2
plugins:
  - jekyll-feed
  - jekyll-include-cache

# Reading files
include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

github: [metadata]
